{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    {% include 'include/css.html' %}
  </head>
<body>
<!-- wpf loader Two -->
<!--    <div id="wpf-loader-two">-->
<!--      <div class="wpf-loader-two-inner">-->
<!--        <span>Loading</span>-->
<!--      </div>-->
<!--    </div>-->
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->
{% include 'include/header.html' %}
{% include 'include/menu.html' %}

{% block content%}




{% endblock %}
{% include 'include/subscriber.html' %}
{% include 'include/footer.html' %}
<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Login or Register</h4>
      <form class="aa-login-form" action="">
        <label for="">Username or Email address<span>*</span></label>
        <input type="text" placeholder="Username or email">
        <label for="">Password<span>*</span></label>
        <input type="password" placeholder="Password">
        <button class="aa-browse-btn" type="submit">Login</button>
        <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
        <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
        <div class="aa-register-now">
          Don't have an account?<a href="account.html">Register now!</a>
        </div>
      </form>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
{% include 'include/js.html' %}

</body>
</html>