{% load static %}
<!--&lt;!&ndash; jQuery library &ndash;&gt;-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'js/jquery.smartmenus.js' %}"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'js/jquery.smartmenus.bootstrap.js' %}"></script>
<!-- To Slider JS -->
<script src="{% static 'js/sequence.js' %}"></script>
<script src="{% static 'js/sequence-theme.modern-slide-in.js' %}"></script>
<!-- Product view slider -->
<script type="text/javascript" src="{% static 'js/jquery.simpleGallery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.simpleLens.js' %}"></script>
<!-- slick slider -->
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
<!-- Price picker slider -->
<!--<script type="text/javascript" src="{% static 'js/nouislider.js' %}"></script>-->
<!-- Custom js -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
