
{% if post_set %}
<div class="row small-up-1 medium-up-3" >

{% for i in post_set %}
    <div class="columns">
        <div class=" card-article-hover card">
          <div class="card-section">
            <a href="{{ i.slug }}">
              <h6 class="article-title">{{ i.name }}</h6>
            </a>
          </div>
          <div class="card-divider flex-container align-middle">
            <a href="" class="author">name </a>
          </div>
          <div class="hover-border">
          </div>
        </div>
    </div>
{% endfor %}

{% endif %}

</div>